/********************************************************************************* _listpage.scss */

$tl-task-height: 60px;
$tl-task-left-width: $tl-task-height;
$tl-task-tag-width: 10px;
$tl-tag-height: 48px;
$tl-timescope-height: 24px;

// *** Main page styles
.tasklist {
	width: 33%;
	float: left;
	height: 100%;

	// Radio controllers are "checked = display"
	.controller[type=radio]:not(:checked) + div {
		display: none;
	}
	.controller[type=radio]:checked + div {
		display: block;
	}

	// Checkbox controllers are "checked = hide"
	.controller[type=checkbox]:checked + div {
		display: none;
	}
}
.listpage-content {
}

// *** Single-item definitions
// Task & Quick-edit
.tl-task {
	height: $tl-task-height;

	.left {
		padding-left: $tl-task-left-width - $tl-task-tag-width;
		width: $tl-task-left-width;
		height: $tl-task-height;
		overflow: hidden;

		@include transition(width $animation-time-relax $animation-style);

		&:hover {
			width: $tl-task-left-width * 4;
		}
	}
	.title  {
		@extend .ellipsis;

		height: $tl-task-height;
		line-height: $tl-task-height;
		padding: 0 $tl-task-height / 3;
		font-size: 14px;
	}

}
.tl-quick-edit {
	border-left: $tl-task-tag-width solid;
	width: $tl-task-left-width * 3 + $tl-task-tag-width;
	height: $tl-task-height;
	font-size: 0;

	a {
		vertical-align: top;
		display: inline-block;
		height: 100%;
		font-size: 26px;
		width: $tl-task-left-width;
		text-align: center;
		padding-top: 14px;
		@include transition(padding-top $animation-time-responsive $animation-style);
	}

	// Adding text below picture on hover
	.fa::after {
		display: block;
		font-size: 10px;
		padding-top: 8px;
		opacity: 0;
		@include transition(padding-top $animation-time-responsive $animation-style,
				opacity $animation-time-responsive $animation-style);
	}
	.fa-check::after { content: 'complete'; }
	.fa-pencil::after { content: 'edit'; }
	.fa-trash::after { content: 'delete'; }
	a:hover {
		padding-top: 8px;
		.fa::after {
			padding-top: 4px;
			opacity: 1;
		}
	}
}

// *** Tag
.tl-tag {
	height: $tl-tag-height;

	.left {
		width: $tl-tag-height;
		> div {
			height: $tl-tag-height / 3;
			width: $tl-tag-height / 3;
			margin: $tl-tag-height / 3;
		}
	}

	.name {
		@extend .ellipsis;
		height: $tl-tag-height;
		line-height: $tl-tag-height;
		font-size: 16px;
		font-weight: bold;
		padding-right: $tl-tag-height / 3;
	}
}

// *** Timescope
.tl-timescope {
	height: $tl-timescope-height;
	line-height: $tl-timescope-height;
	font-size: 12px;

	.left {
		width: $tl-task-left-width;
		text-align: center;
		font-weight: bold;

		&::before { content: '('; }
		&::after { content: ')'; }
	}
	.name {
		@extend .ellipsis;
		text-align: center;
	}
}