/********************************************************************************* _listpage.scss */

$tl-task-height: 60px;
$tl-task-left-width: $tl-task-height;
$tl-task-tag-width: 10px;
$tl-tag-height: 48px;
$tl-timescope-height: 24px;

// Tasklist (prefix: tl)
.tasklist {
	width: 33%;
	float: left;
	height: 100%;
	overflow: auto;

	// Radio controller is strictly for tag. Checked = visible
	.controller[type=radio]:not(:checked) + div {
		display: none;
	}
	.controller[type=radio]:checked + div {
		display: block;
	}

	// Checkbox controllers are strictly for timescope. Checked = hidden
	.controller[type=checkbox]:checked + .tl-timescope + div {
		display: none;
	}
}
.tl-task {
	height: $tl-task-height;

	.left {
		padding-left: $tl-task-left-width - $tl-task-tag-width;
		width: $tl-task-left-width;
		height: $tl-task-height;
		overflow: hidden;

		@include transition(width $animation-time-relax $animation-style);

		&:hover {
			width: $tl-task-left-width * 4;
		}
	}
	.title  {
		@extend .ellipsis;

		height: $tl-task-height;
		line-height: $tl-task-height;
		padding: 0 $tl-task-height / 3;
		font-size: 14px;
	}

}
.tl-quick-edit {
	border-left: $tl-task-tag-width solid;
	width: $tl-task-left-width * 3 + $tl-task-tag-width;
	height: $tl-task-height;
	font-size: 0;

	a {
		vertical-align: top;
		display: inline-block;
		height: 100%;
		font-size: 26px;
		width: $tl-task-left-width;
		text-align: center;
		padding-top: 14px;
		@include transition(padding-top $animation-time-responsive $animation-style);
	}

	// Adding text below picture on hover
	.fa::after {
		display: block;
		font-size: 10px;
		padding-top: 8px;
		opacity: 0;
		@include transition(padding-top $animation-time-responsive $animation-style,
				opacity $animation-time-responsive $animation-style);
	}
	.fa-check::after { content: 'complete'; }
	.fa-pencil::after { content: 'edit'; }
	.fa-trash::after { content: 'delete'; }
	.fa-times::after { content: 'un-complete'; }
	a:hover {
		padding-top: 8px;
		.fa::after {
			padding-top: 4px;
			opacity: 1;
		}
	}
}
.tl-tag {
	height: $tl-tag-height;

	.left {
		width: $tl-tag-height;
		> div {
			height: $tl-tag-height / 3;
			width: $tl-tag-height / 3;
			margin: $tl-tag-height / 3;
		}
	}

	.name {
		@extend .ellipsis;
		height: $tl-tag-height;
		line-height: $tl-tag-height;
		font-size: 16px;
		font-weight: bold;
		padding-right: $tl-tag-height / 3;
	}
}
.tl-timescope {
	height: $tl-timescope-height;
	line-height: $tl-timescope-height;
	font-size: 12px;

	&:hover .left::before {
		content: 'Tasks left to do: ';
	}

	.left {
		white-space: nowrap;
		font-weight: bold;
		padding-left: ($tl-task-left-width - $tl-task-tag-width) / 2;
		width: 0;
	}
	.name {
		@extend .ellipsis;
		text-align: center;
	}
}

// Listpage-content (prefix: lc)
.listpage-content {
	height: 100%;
	overflow: auto;
	margin-left: 33%;
}
.lc-overview {
	ul {
		list-style: none;
		white-space: nowrap;
		overflow: hidden;
		padding-bottom: 15px;

		.end-spacer {
			width: 10px;
		}
		&.no-js {
			overflow-x: auto;
		}
	}
	li {
		display: inline-block;
		vertical-align: top;
	}
	fieldset {
		border: 1px solid #00F;
		white-space: normal;
		width: 200px;
		font-size: 0;
		padding: 5px;
	}
	legend {
		@extend .ellipsis;

		font-size: 12px;
		font-weight: bold;
		max-width:  200px;
	}

	.tag {
		display: inline-block;
		border: 1px solid;
		font-size: 12px;
		padding: 0 6px;
		margin: 3px 5px;
		height: 20px;
		line-height: 20px;
		border-left-width: 20px;
	}

	.total {
		font-size: 26px;
		color: #F0F0F0;
		font-weight: bold;
		word-break: break-all;
		padding: 0 10px;
	}

	.date {
		padding: 15px 20px;
		font-size: 26px;
	}
}
.lc-statistics {
	padding: 15px 10px;
	border-bottom: 1px solid #000;
}
