/******************************************************************************* _navigation.scss */
$nav-wall-spacing: 20px;

// Standard styles
.nav,
.nav a {
	@include transition(color $animation-time-responsive $animation-style,
			background-color $animation-time-responsive $animation-style);
}
.nav {
	position: absolute;
	left: 0;
	right: 0;
	height: $nav-desktop-peek-height;
	line-height: $nav-desktop-peek-height;
	z-index: 800;

	.left {
		font-size: 19px;

		.title {
			display: inline-block;
		}

		label {
			display: inline-block;
			padding: 0 $nav-wall-spacing;
			height: $nav-desktop-peek-height;
		}
	}
}
.nav-tabs {
	list-style: none;

	li {
		display: inline;

		a {
			display: inline-block;
			height: $nav-desktop-peek-height;
			padding: 0 $nav-wall-spacing;
		}
	}
}

.nav-push {
	padding-top: $nav-desktop-peek-height;
}