// *** Standard styles
.container {
	max-width: $media-desktop-max;
	margin: 0 auto;
}

.left { float: left; }
.right { float: right; }
.float-clear { clear: both; }

.ellipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: block;
}