ul, ol, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0; }

/*************************************** template */
* {
  box-sizing: border-box;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }

html, body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh; }

#window-container {
  margin-top: -55px;
  padding-top: 55px;
  height: 100%; }
  #window-container > div {
    height: 100%; }

/****** Livin' Large */
@media (min-width: 1422px) {
  /* Template items */
  .tabs ul {
    list-style: none;
    cursor: pointer; }
  .tabs li {
    display: inline-block;
    font-size: 15px;
    -webkit-transition: box-shadow 0.1s ease-in-out;
    -moz-transition: box-shadow 0.1s ease-in-out;
    transition: box-shadow 0.1s ease-in-out; }

  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -360px;
    width: 360px;
    max-width: 360px;
    -webkit-transition: left 0.5s cubic-bezier(0.3, 0.3, 0.02, 1);
    -moz-transition: left 0.5s cubic-bezier(0.3, 0.3, 0.02, 1);
    transition: left 0.5s cubic-bezier(0.3, 0.3, 0.02, 1); }
    .sidebar .titles {
      padding: 30px 0 40px 0;
      text-align: center; }
    .sidebar ul, .sidebar li, .sidebar a {
      width: 100%; }
    .sidebar ul {
      list-style: none; }
    .sidebar a {
      width: 100%;
      text-align: right;
      font-size: 18px;
      text-decoration: none;
      padding: 10px 20px;
      display: block; }

  .split-left,
  .split-right {
    height: 100%;
    overflow: auto; }

  .split-left {
    width: 360px;
    float: left; }

  .split-right {
    border-left: 1px solid #999;
    margin-left: 360px; }

  .tasklist {
    width: 100%;
    list-style: none; }
    .tasklist li {
      height: 61px;
      border-bottom: 1px solid; }
      .tasklist li > div {
        height: 60px;
        width: 100%;
        white-space: nowrap;
        overflow: hidden; }
    .tasklist .due-in,
    .tasklist .task,
    .tasklist .modifier,
    .tasklist .quick-edit {
      display: inline-block; }
    .tasklist .quick-edit > div,
    .tasklist .due-in:hover .quick-edit {
      width: 194px; }
    .tasklist .task {
      width: 300px;
      vertical-align: middle; }
      .tasklist .task .title, .tasklist .task .subtitle {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
      .tasklist .task .title {
        font-size: 18px; }
      .tasklist .task .subtitle {
        font-size: 10px; }
    .tasklist .due-in {
      font-size: 22px;
      line-height: 60px;
      vertical-align: middle;
      height: 100%;
      cursor: pointer; }
      .tasklist .due-in > div {
        vertical-align: top;
        height: 100%; }
      .tasklist .due-in .modifier {
        width: 60px;
        padding-left: 14px; }
        .tasklist .due-in .modifier:before {
          width: 18px;
          display: inline-block;
          vertical-align: top;
          font-weight: bold; }
    .tasklist .quick-edit {
      width: 0;
      white-space: nowrap;
      overflow: hidden;
      /* First nest is wrapper, second nest are the buttons */
      -webkit-transition: width 0.5s cubic-bezier(0.3, 0.3, 0.02, 1);
      -moz-transition: width 0.5s cubic-bezier(0.3, 0.3, 0.02, 1);
      transition: width 0.5s cubic-bezier(0.3, 0.3, 0.02, 1); }
      .tasklist .quick-edit > div {
        height: 100%; }
        .tasklist .quick-edit > div > div:before {
          width: 60px;
          float: left;
          height: 100%;
          text-align: center; }
      .tasklist .quick-edit .complete:before {
        content: '\2714'; }
      .tasklist .quick-edit .edit:before {
        content: '\2710'; }
      .tasklist .quick-edit .delete:before {
        content: '\2716'; }
    .tasklist .future .modifier:before {
      content: "+"; }
    .tasklist .past .modifier:before {
      content: "-"; }
    .tasklist .far-future .modifier:before {
      content: ">"; }

  /* Customization */
  #global-menu-bar {
    border-bottom: 1px solid;
    height: 55px; }
    #global-menu-bar div {
      vertical-align: bottom; }

  #global-logo {
    float: left; }
    #global-logo > h2,
    #global-logo > a,
    #global-logo > div {
      display: inline-block;
      vertical-align: bottom; }
    #global-logo .bar-link {
      line-height: 54px;
      height: 54px;
      text-decoration: none;
      margin-left: 15px; }

  #global-tabs {
    float: right; }
    #global-tabs ul {
      padding-top: 14px;
      text-align: right;
      border-right: 1px solid; }
    #global-tabs li {
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      border-left: 1px solid; }

  #sidebar-global-wrapper:hover .sidebar {
    left: 0; } }

/*# sourceMappingURL=global.css.map */
