/*
	IE 7- support? BWAHAHAHAHAhahAHAhaHAhaHahahaHA.
	No.
	This is an HTML5 applet. It sure as hell better be treated like one.
	Spend more time INNOVATING than COMPLYING.
	- Kodlee, 2015.
*/
ul, ol, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0; }

.spin-container:hover .spin {
  animation: 2s linear 0s normal none infinite running fa-spin; }

/*************************************** template */
* {
  box-sizing: border-box;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }

html, body {
  padding: 0;
  margin: 0 auto;
  font-size: 16px;
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;
  box-shadow: 0 0 10px 2px #999;
  max-width: 1920px; }

@media (min-width: 1920px) {
  body {
    border: 1px solid;
    border-top: none;
    border-bottom: none; } }
a {
  text-decoration: none; }

#window-container {
  margin-top: -45px;
  padding-top: 45px;
  height: 100%; }
  #window-container > div {
    height: 100%; }

.middler,
.middle {
  display: inline-block;
  vertical-align: middle; }

.middler {
  height: 100%; }

.noselect, .tasklists-container {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

.hidden {
  display: none; }

.clear {
  clear: both; }

/****** Livin' Large */
/* @media (min-width: $width-large - $width-clearance) { */
/* Template items */
.tabs ul {
  list-style: none;
  cursor: pointer; }
.tabs li {
  display: inline-block;
  font-size: 15px;
  -webkit-transition: box-shadow 0.3s ease-in-out;
  -moz-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out; }

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -360px;
  width: 360px;
  max-width: 360px;
  z-index: 1000;
  -webkit-transition: left 0.5s cubic-bezier(0.3, 0.3, 0.02, 1);
  -moz-transition: left 0.5s cubic-bezier(0.3, 0.3, 0.02, 1);
  transition: left 0.5s cubic-bezier(0.3, 0.3, 0.02, 1); }
  .sidebar .titles {
    padding: 30px 0 40px 0;
    text-align: center; }
  .sidebar ul, .sidebar li, .sidebar a {
    width: 100%; }
  .sidebar ul {
    list-style: none; }
  .sidebar a {
    width: 100%;
    text-align: right;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 20px;
    display: block; }

/*********************************************_split-screen.scss*/
.split-left,
.split-right {
  height: 100%;
  overflow: auto; }

.split-left {
  width: 360px;
  float: left; }
  .split-left .icon {
    text-align: center;
    line-height: 35px; }

.split-right {
  border-left: 1px solid #999;
  margin-left: 360px; }

.split-left-options-container {
  position: fixed;
  bottom: 0;
  width: 360px;
  /* The last 1px in the list is border anyway */
  height: 36px;
  max-height: 100vh;
  border-top: 1px solid #000;
  z-index: 900;
  overflow: hidden;
  -webkit-transition: height 0.5s cubic-bezier(0.3, 0.3, 0.02, 1) 0.3s;
  -moz-transition: height 0.5s cubic-bezier(0.3, 0.3, 0.02, 1) 0.3s;
  transition: height 0.5s cubic-bezier(0.3, 0.3, 0.02, 1) 0.3s; }
  .split-left-options-container .content {
    height: 415px;
    max-height: 100vh;
    overflow: auto; }
  .split-left-options-container:hover {
    -webkit-transition: height 0.5s cubic-bezier(0.3, 0.3, 0.02, 1) 0s;
    -moz-transition: height 0.5s cubic-bezier(0.3, 0.3, 0.02, 1) 0s;
    transition: height 0.5s cubic-bezier(0.3, 0.3, 0.02, 1) 0s;
    height: 450px; }

.tasklist-tag-container,
.tasklists-container,
.tasklist-container,
.tasklist,
.tasklist .task,
.timescope-container,
.timescope {
  width: 360px; }

.tasklists-container {
  padding-bottom: 35px; }
  .tasklists-container label {
    cursor: pointer;
    display: block; }

.tasklist-tag-container {
  height: 42px;
  font-size: 16px; }
  .tasklist-tag-container .visibility {
    padding: 0 14px; }
  .tasklist-tag-container .visibility div,
  .tasklist-tag-container .title {
    line-height: 42px; }
  .tasklist-tag-container .tag {
    float: left;
    width: 42px;
    height: 42px;
    padding: 14px; }
    .tasklist-tag-container .tag > span {
      display: block;
      width: 14px;
      height: 14px; }
  .tasklist-tag-container .title {
    height: 42px;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }

.task,
.timescope {
  -webkit-transition: height 0.5s cubic-bezier(0.3, 0.3, 0.02, 1);
  -moz-transition: height 0.5s cubic-bezier(0.3, 0.3, 0.02, 1);
  transition: height 0.5s cubic-bezier(0.3, 0.3, 0.02, 1); }

.timescope {
  font-size: 12px;
  height: 24px;
  overflow: hidden; }
  .timescope .visibility,
  .timescope .count {
    padding: 0 5px; }
  .timescope .count,
  .timescope .visibility > div,
  .timescope .name {
    height: 24px;
    line-height: 24px; }
  .timescope .count {
    float: left; }
    .timescope .count:before {
      content: '('; }
    .timescope .count:after {
      content: ')'; }
  .timescope .name {
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }

.task {
  height: 60px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0; }
  .task .tag,
  .task .body,
  .task .quick-edit {
    display: inline-block;
    vertical-align: top;
    height: 60px; }
  .task label {
    display: block;
    height: 60px;
    width: 100%; }
  .task .tag {
    width: 60px;
    margin-right: -52px;
    border-left: 8px solid; }
  .task .body {
    padding: 0 8px;
    width: 352px;
    -webkit-transition: background-color 0.2s cubic-bezier(0.3, 0.3, 0.02, 1), margin 0.5s cubic-bezier(0.3, 0.3, 0.02, 1);
    -moz-transition: background-color 0.2s cubic-bezier(0.3, 0.3, 0.02, 1), margin 0.5s cubic-bezier(0.3, 0.3, 0.02, 1);
    transition: background-color 0.2s cubic-bezier(0.3, 0.3, 0.02, 1), margin 0.5s cubic-bezier(0.3, 0.3, 0.02, 1); }
    .task .body:hover {
      margin-left: 8px; }
      .task .body:hover .title,
      .task .body:hover .hierarchy {
        width: 320px; }
  .task .title,
  .task .hierarchy {
    width: 336px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-transition: width 0.5s cubic-bezier(0.3, 0.3, 0.02, 1);
    -moz-transition: width 0.5s cubic-bezier(0.3, 0.3, 0.02, 1);
    transition: width 0.5s cubic-bezier(0.3, 0.3, 0.02, 1); }
  .task .title {
    font-size: 14px; }
  .task .hierarchy {
    font-size: 10px; }

.quick-edit {
  width: 0;
  overflow: hidden;
  -webkit-transition: width 0.5s cubic-bezier(0.3, 0.3, 0.02, 1);
  -moz-transition: width 0.5s cubic-bezier(0.3, 0.3, 0.02, 1);
  transition: width 0.5s cubic-bezier(0.3, 0.3, 0.02, 1); }
  .quick-edit a {
    display: inline-block;
    width: 60px;
    height: 60px;
    text-decoration: none;
    font-size: 24px;
    line-height: 60px;
    text-align: center; }

.visibility {
  float: right; }
  .visibility .fa-caret-down {
    display: block; }
  .visibility .fa-caret-left {
    display: none; }

/* Quick edit peek */
.quick-edit:hover,
.task .tag:hover + .quick-edit {
  width: 180px; }

/* Collapse caret displays */
.tasklists-container input:checked + label .visibility .fa-caret-down {
  display: none; }
.tasklists-container input:checked + label .visibility .fa-caret-left {
  display: block; }

/* Timescope collapse */
.timescope-container > input:checked ~ .task {
  height: 0; }

/* Tag collapse */
.tasklist-container > input:checked ~ .tasklist .task,
.tasklist-container > input:checked ~ .tasklist .timescope {
  height: 0; }

.page-list {
  min-height: 100%;
  margin-bottom: -200px; }
  .page-list .date, .page-list .time {
    font-size: 24px; }
  .page-list .dow {
    font-size: 14px;
    float: left; }
  .page-list .time {
    float: right;
    width: 110px;
    text-align: right; }
  .page-list .date {
    margin-bottom: -6px; }

.page-list-push,
.page-list-footer {
  height: 200px; }

.page-list-date {
  padding: 10px 25px;
  border-bottom: 1px solid;
  text-align: right;
  cursor: default; }
  .page-list-date > div {
    display: inline-block; }

.page-list-details {
  border-bottom: 1px solid;
  padding: 14px;
  -webkit-transition: height 0.5s cubic-bezier(0.3, 0.3, 0.02, 1);
  -moz-transition: height 0.5s cubic-bezier(0.3, 0.3, 0.02, 1);
  transition: height 0.5s cubic-bezier(0.3, 0.3, 0.02, 1); }
  .page-list-details .title {
    font-size: 30px; }
  .page-list-details .tags div {
    font-size: 20px; }
  .page-list-details .tags li {
    padding: 2px 25px;
    margin: 2px 0;
    display: inline-block;
    text-align: center; }
  .page-list-details ul {
    list-style: none; }
  .page-list-details .block {
    border-left: 2px solid;
    padding: 5px 10px;
    margin-left: 5px; }
  .page-list-details .subtitle {
    font-weight: bold;
    margin-top: 25px; }

.page-list-infobar {
  clear: right;
  float: right;
  width: 250px;
  margin-left: 14px;
  text-align: center; }
  .page-list-infobar .details {
    border: 1px solid; }
  .page-list-infobar .text,
  .page-list-infobar .header {
    font-weight: bold; }
  .page-list-infobar .header {
    padding: 3px 0; }
  .page-list-infobar .date-container {
    display: inline-block;
    padding: 10px 0; }
  .page-list-infobar .date, .page-list-infobar .time {
    font-size: 19.2px; }
  .page-list-infobar .dow {
    font-size: 11.2px; }
  .page-list-infobar .time {
    width: 88px; }
  .page-list-infobar .date {
    margin-bottom: -4.8px; }
  .page-list-infobar .stats {
    text-align: left;
    border: 2px solid;
    border-top: none;
    font-size: 14px; }
    .page-list-infobar .stats span {
      display: inline-block;
      padding: 4px 5px;
      overflow: hidden;
      text-overflow: ellipsis; }
    .page-list-infobar .stats li {
      white-space: nowrap; }
      .page-list-infobar .stats li span:nth-child(1) {
        width: 70px;
        font-weight: bold; }
      .page-list-infobar .stats li span:nth-child(2) {
        width: 176px; }
    .page-list-infobar .stats li:nth-child(n+2) {
      border-top: 1px dashed; }

/* Customization */
#global-menu-bar {
  border-bottom: 1px solid;
  height: 45px; }
  #global-menu-bar div {
    vertical-align: bottom; }

#global-logo {
  float: left; }
  #global-logo > h3,
  #global-logo > a,
  #global-logo > div {
    display: inline-block;
    vertical-align: bottom; }
  #global-logo .bar-link {
    line-height: 44px;
    height: 44px;
    text-decoration: none;
    margin-left: 15px; }

#global-tabs {
  float: right; }
  #global-tabs ul {
    padding-top: 14px;
    text-align: right;
    border-right: 1px solid; }
  #global-tabs li {
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    border-left: 1px solid; }

#sidebar-global-wrapper:hover .sidebar {
  left: 0; }

/* } */

/*# sourceMappingURL=global.css.map */
