/********************************************************************************** template.scss */
* {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  box-sizing: border-box; }

html, body {
  font-size: 16px; }

html, body,
ul, ol,
h1, h2, h3, h4, h5, h6,
hr {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

hr {
  display: block;
  border: none;
  height: 1px; }

label {
  cursor: pointer; }

.controller {
  display: none; }

.full-height {
  height: 100vh; }

.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

@media (min-width: 1100px) {
  .container {
    max-width: 1920px;
    margin: 0 auto; }

  .left {
    float: left; }

  .right {
    float: right; }

  .float-clear {
    clear: both; }

  .ellipsis, .tl-task .title, .tl-tag .name, .tl-timescope .name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block; }

  /******************************************************************************* _navigation.scss */
  .nav,
  .nav a {
    -webkit-transition: color 0.3s cubic-bezier(0.3, 0.3, 0.02, 1), background-color 0.3s cubic-bezier(0.3, 0.3, 0.02, 1);
    -moz-transition: color 0.3s cubic-bezier(0.3, 0.3, 0.02, 1), background-color 0.3s cubic-bezier(0.3, 0.3, 0.02, 1);
    transition: color 0.3s cubic-bezier(0.3, 0.3, 0.02, 1), background-color 0.3s cubic-bezier(0.3, 0.3, 0.02, 1); }

  .nav {
    position: absolute;
    left: 0;
    right: 0;
    height: 60px;
    line-height: 60px;
    z-index: 800; }
    .nav .left {
      font-size: 19px; }
      .nav .left .title {
        display: inline-block; }
      .nav .left label {
        display: inline-block;
        padding: 0 20px;
        height: 60px; }

  .nav-tabs {
    list-style: none; }
    .nav-tabs li {
      display: inline; }
      .nav-tabs li a {
        display: inline-block;
        height: 60px;
        padding: 0 20px; }

  .nav-push {
    padding-top: 60px; }

  /********************************************************************************** _sidebar.scss */
  .sidebar {
    position: fixed;
    top: 0;
    left: -33%;
    width: 33%;
    max-width: 500px;
    height: 100vh;
    overflow: auto;
    z-index: 1000;
    -webkit-transition: left 0.6s cubic-bezier(0.3, 0.3, 0.02, 1);
    -moz-transition: left 0.6s cubic-bezier(0.3, 0.3, 0.02, 1);
    transition: left 0.6s cubic-bezier(0.3, 0.3, 0.02, 1); }

  .sidebar-closer {
    position: fixed;
    display: none;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    cursor: default; }

  #sidebar-controller:checked + .sidebar {
    left: 0; }
  #sidebar-controller:checked ~ .sidebar-closer {
    display: block; }

  .sidebar-logo {
    padding: 40px 30px 60px 30px; }
    .sidebar-logo .title {
      font-size: 22px; }
    .sidebar-logo .subtitle {
      font-size: 14px; }

  .sidebar-links {
    margin-top: 20px; }
    .sidebar-links ul {
      list-style: none;
      margin: 0;
      padding: 0; }
    .sidebar-links a {
      display: block;
      font-size: 18px;
      padding: 10px 30px;
      text-align: right;
      -webkit-transition: padding-right 0.3s cubic-bezier(0.3, 0.3, 0.02, 1);
      -moz-transition: padding-right 0.3s cubic-bezier(0.3, 0.3, 0.02, 1);
      transition: padding-right 0.3s cubic-bezier(0.3, 0.3, 0.02, 1); }
      .sidebar-links a:hover {
        padding-right: 34px; }

  /********************************************************************************* _listpage.scss */
  .tasklist {
    width: 33%;
    float: left;
    height: 100%;
    overflow: auto; }
    .tasklist .controller[type=radio]:not(:checked) + div {
      display: none; }
    .tasklist .controller[type=radio]:checked + div {
      display: block; }
    .tasklist .controller[type=checkbox]:checked + .tl-timescope + div {
      display: none; }

  .listpage-content {
    height: 100%;
    margin-left: 33%; }
    .listpage-content > div {
      height: 100%; }
    .listpage-content .title {
      font-size: 19px; }

  .tl-task {
    height: 60px; }
    .tl-task .left {
      padding-left: 50px;
      width: 60px;
      height: 60px;
      overflow: hidden;
      -webkit-transition: width 0.6s cubic-bezier(0.3, 0.3, 0.02, 1);
      -moz-transition: width 0.6s cubic-bezier(0.3, 0.3, 0.02, 1);
      transition: width 0.6s cubic-bezier(0.3, 0.3, 0.02, 1); }
      .tl-task .left:hover {
        width: 240px; }
    .tl-task .title {
      height: 60px;
      line-height: 60px;
      padding: 0 20px;
      font-size: 14px; }

  .tl-quick-edit {
    border-left: 10px solid;
    width: 190px;
    height: 60px;
    font-size: 0; }
    .tl-quick-edit a {
      vertical-align: top;
      display: inline-block;
      height: 100%;
      font-size: 26px;
      width: 60px;
      text-align: center;
      padding-top: 14px;
      -webkit-transition: padding-top 0.3s cubic-bezier(0.3, 0.3, 0.02, 1);
      -moz-transition: padding-top 0.3s cubic-bezier(0.3, 0.3, 0.02, 1);
      transition: padding-top 0.3s cubic-bezier(0.3, 0.3, 0.02, 1); }
    .tl-quick-edit .fa::after {
      display: block;
      font-size: 10px;
      padding-top: 8px;
      opacity: 0;
      -webkit-transition: padding-top 0.3s cubic-bezier(0.3, 0.3, 0.02, 1), opacity 0.3s cubic-bezier(0.3, 0.3, 0.02, 1);
      -moz-transition: padding-top 0.3s cubic-bezier(0.3, 0.3, 0.02, 1), opacity 0.3s cubic-bezier(0.3, 0.3, 0.02, 1);
      transition: padding-top 0.3s cubic-bezier(0.3, 0.3, 0.02, 1), opacity 0.3s cubic-bezier(0.3, 0.3, 0.02, 1); }
    .tl-quick-edit .fa-check::after {
      content: 'complete'; }
    .tl-quick-edit .fa-pencil::after {
      content: 'edit'; }
    .tl-quick-edit .fa-trash::after {
      content: 'delete'; }
    .tl-quick-edit .fa-times::after {
      content: 'un-complete'; }
    .tl-quick-edit a:hover {
      padding-top: 8px; }
      .tl-quick-edit a:hover .fa::after {
        padding-top: 4px;
        opacity: 1; }

  .tl-tag {
    height: 48px; }
    .tl-tag .left {
      width: 48px; }
      .tl-tag .left > div {
        height: 16px;
        width: 16px;
        margin: 16px; }
    .tl-tag .name {
      height: 48px;
      line-height: 48px;
      font-size: 16px;
      font-weight: bold;
      padding-right: 16px; }

  .tl-timescope {
    height: 24px;
    line-height: 24px;
    font-size: 12px; }
    .tl-timescope .left {
      width: 60px;
      text-align: center;
      font-weight: bold; }
      .tl-timescope .left::before {
        content: '('; }
      .tl-timescope .left::after {
        content: ')'; }
    .tl-timescope .name {
      text-align: center; } }

/*# sourceMappingURL=styles.css.map */
