#global-menu-bar {
	border-bottom: 1px solid;
	height: $global-menu-tab-height + $global-menu-top-padding;
	
	div {
		vertical-align: bottom;
	}
}
#global-logo {
	float: left;
	
	> h2,
	> a,
	> div {
		display: inline-block;
		vertical-align: bottom;
	}
	.bar-link {
		line-height: $global-menu-tab-height + $global-menu-top-padding - 1;
		height: $global-menu-tab-height + $global-menu-top-padding - 1;
		text-decoration: none;
		margin-left: 15px;
	}
}
#global-tabs {
	float: right;
	
	ul {
		padding-top: $global-menu-top-padding - 1;
		text-align: right;
		border-right: 1px solid;
	}
	
	li {
		height: $global-menu-tab-height;
		line-height: $global-menu-tab-height;
		padding: 0 20px;
		border-left: 1px solid;
	}
}

#sidebar-global-wrapper:hover .sidebar {
	left: 0;
}