$page-list-footer-height: 200px;

$page-list-datetime-font-size: 24px;
$page-list-dow-font-size: 14px;
$page-list-time-width: 110px;
$page-list-date-margin-bottom: -6px;
$page-list-date-detail-scale: 0.8;
$page-list-sidebar-width: 250px;
$page-list-sidebar-key-width: 70px;
$page-list-sidebar-border-width: 2px;

.page-list {
	min-height: 100%;
	margin-bottom: - $page-list-footer-height;
	
	.date, .time {
		font-size: $page-list-datetime-font-size;
	}
	.dow {
		font-size: $page-list-dow-font-size;
		float: left;
	}
	.time {
		float: right;
		width: $page-list-time-width;
		text-align: right;
	}
	.date {
		margin-bottom: $page-list-date-margin-bottom;
	}
}
.page-list-push,
.page-list-footer {
	height: $page-list-footer-height;
}
.page-list-footer {
}

.page-list-date {
	padding: 10px 25px;
	border-bottom: 1px solid;
	text-align: right;
	cursor: default;
	
	> div {
		display: inline-block;
	}
}

.page-list-details {
	border-bottom: 1px solid;
	padding: 14px;
	
	@include transition(height 0.5s cubic-bezier(0.3, 0.3, 0.02, 1));
	
	.hint { }
	.title {
		font-size: 30px;
	}
	
	.tags {
		div {
			font-size: 20px;
		}
		li {
			padding: 2px 25px;
			margin: 2px 0;
			display: inline-block;
			text-align: center;
		}
	}
	ul {
		list-style: none;
	}
	
	.block {
		border-left: 2px solid;
		padding: 5px 10px;
		margin-left: 5px;
	}
	.subtitle {
		font-weight: bold;
		margin-top: 25px;
	}

}
.page-list-infobar {
	clear: right;
	float: right;
	width: $page-list-sidebar-width;
	margin-left: 14px;
	text-align: center;
	
	.details {
		border: 1px solid;
	}
	.text,
	.header {
		font-weight: bold;
	}
	.header {
		padding: 3px 0;
	}
	.date-container {
		display: inline-block;
		padding: 10px 0;
	}
	.date, .time {
		font-size: $page-list-datetime-font-size * $page-list-date-detail-scale;
	}
	.dow {
		font-size: $page-list-dow-font-size * $page-list-date-detail-scale;
	}
	.time {
		width: $page-list-time-width * $page-list-date-detail-scale;
	}
	.date {
		margin-bottom: $page-list-date-margin-bottom * $page-list-date-detail-scale;
	}
	
	.stats {
		text-align: left;
		border: $page-list-sidebar-border-width solid;
		border-top: none;
		font-size: 14px;
		
		span {
			display: inline-block;
			padding: 4px 5px;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		li {
			white-space: nowrap;
			
			span:nth-child(1) {
				width: 70px;
				font-weight: bold;
			}
			span:nth-child(2) {
				width: $page-list-sidebar-width 
						- $page-list-sidebar-key-width 
						- $page-list-sidebar-border-width * 2;
			}
		}
		li:nth-child(n+2) {
			border-top: 1px dashed;
		}
	}
}