/*********************************************_split-screen.scss*/
.split-left,
.split-right {
	height: 100%;
	overflow: auto;
}

.split-left {
	width: $width-small;
	float: left;
	
	.icon {
		text-align: center;
		line-height: $split-screen-option-height;
	}
}
.split-right {
	border-left: 1px solid #999;
	margin-left: $width-small;
}

.split-left-options-container {
	position: fixed;
	bottom: 0;
	width: $width-small;
	/* The last 1px in the list is border anyway */
	height: $split-screen-option-height + 1;
	max-height: 100vh;
	
	border-top: 1px solid #000;
	z-index: $split-screen-option-z-index;
	overflow: hidden;
	@include transition(height 0.5s cubic-bezier(0.3, 0.3, 0.02, 1) 0.3s);
	
	.content {
		height: $split-screen-option-extended-height - $split-screen-option-height;
		max-height: 100vh;
		overflow: auto;
	}
	
	&:hover {
		@include transition(height 0.5s cubic-bezier(0.3, 0.3, 0.02, 1) 0s);
		height: $split-screen-option-extended-height;
	}
}