$task-height: 60px;
$task-due-width: 60px;
$task-due-left-padding: 14px;

.tasklist {
	width: 100%;
	list-style: none;
	
	&.completed {
		border-bottom: 1px solid;
	}
	
	&.todo {
		padding-bottom: $split-screen-option-height;
	}
	
	li {
		height: $task-height;
		border-bottom: 1px solid;
		overflow: hidden;
		
		> div {
			height: $task-height;
			width: 100%;
			white-space: nowrap;
			overflow: hidden;
		}
	}
	
	.due-in,
	.task,
	.timeleft,
	.quick-edit {
		display: inline-block;
		vertical-align: top;
	}
	
	.quick-edit > div,
	.due-in:hover .quick-edit {
		width: $task-height * 3 + $task-due-left-padding;
	}
	
	.task {
		width: $width-small - $task-due-width;
		@include transition(padding-left 0.5s cubic-bezier(0.3, 0.3, 0.02, 1));
		
		.title, .subtitle {
			width: $width-small - $task-due-width;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			
			@include transition(width 0.5s cubic-bezier(0.3, 0.3, 0.02, 1));
		}
		.title {
			font-size: 18px;
		}
		.subtitle {
			font-size: 10px;
		}
		> div:nth-child(1) {
			height: $task-height;
		}
		> div {
			display: inline-block;
			vertical-align: middle;
		}
		
		&:hover {
			padding-left: $task-due-left-padding;
			
			.title, .subtitle {
				width: $width-small - $task-due-width - $task-due-left-padding;
			}
		}
	}
		
	.due-in {
		font-size: 22px;
		line-height: $task-height;
		height: 100%;
		cursor: pointer;
		
		> div {
			vertical-align: top;
			height: 100%;
		}
		
		.timeleft {
			width: $task-due-width;
			display: inline-block;
			vertical-align: top;
			text-align: center;
		}
	}
	
	.quick-edit {
		width: 0;
		white-space: nowrap;
		overflow: hidden;
		
		/* First nest is wrapper, second nest are the buttons */
		> div {
			height: 100%;
			> a {
				width: $task-height;
				float: left;
				height: 100%;
				text-align: center;
			}
		}
		
		@include transition(width 0.5s cubic-bezier(0.3, 0.3, 0.02, 1));
	}
}