$tasklist-width: $width-small;
$task-height: 60px;
$task-tag-width: $task-height;
$task-tag-color-width: 8px;
$task-tag-space: $task-tag-color-width;

$tag-color-size: 14px;

$timescope-height: 24px;

.tasklist-tag-container,
.tasklists-container,
.tasklist-container,
.tasklist,
.tasklist .task,
.timescope-container,
.timescope {
	width: $tasklist-width;
}

.tasklists-container {
	@extend .noselect;
	padding-bottom: $split-screen-option-height;
	label {
		cursor: pointer;
		display: block;
	}
}

.tasklist-tag-container {
	height: $tag-color-size * 3;
	font-size: 16px;
	
	.visibility {
		padding: 0 $tag-color-size;
	}
	
	.visibility div,
	.title {
		line-height: $tag-color-size * 3;
	}
	
	.tag {
		float: left;
		width: $tag-color-size * 3;
		height: $tag-color-size * 3;
		padding: $tag-color-size;
		
		> span {
			display: block;
			width: $tag-color-size;
			height: $tag-color-size;
		}
	}
	
	.title {
		height: $tag-color-size * 3;
		font-weight: bold;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
}

.task,
.timescope {
	@include transition(height 0.5s cubic-bezier(0.3, 0.3, 0.02, 1));
}

.timescope {
	font-size: 12px;
	height: $timescope-height;
	overflow: hidden;
	
	.visibility,
	.count {
		padding: 0 5px;
	}
	
	.count,
	.visibility > div,
	.name {
		height: $timescope-height;
		line-height: $timescope-height;
	}
	
	.count {
		float: left;
		
		&:before {
			content: '(';
		}
		&:after {
			content: ')';
		}
	}
	.name {
		text-align: center;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}

.task {
	height: $task-height;
	white-space: nowrap;
	overflow: hidden;
	font-size: 0;
	
	.tag,
	.body,
	.quick-edit {
		display: inline-block;
		vertical-align: top;
		height: $task-height;
	}
	label {
		display: block;
		height: $task-height;
		width: 100%;
	}
	.tag {
		width: $task-tag-width;
		margin-right: -($task-tag-width - $task-tag-color-width);
		border-left: $task-tag-color-width solid;
	}

	
	.body {
		padding: 0 $task-tag-space;
		width: $tasklist-width - $task-tag-color-width;
		
		@include transition(
				background-color 0.2s cubic-bezier(0.3, 0.3, 0.02, 1),
				margin 0.5s cubic-bezier(0.3, 0.3, 0.02, 1));
		
		&:hover {
			margin-left: $task-tag-color-width;
			
			.title,
			.hierarchy {
				width: $tasklist-width 
						- $task-tag-color-width 
						- $task-tag-space * 2 
						- $task-tag-color-width * 2;
			}
		}
	}
	
	.title,
	.hierarchy {
		width: $tasklist-width - $task-tag-color-width - $task-tag-space * 2;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		
		@include transition(width 0.5s cubic-bezier(0.3, 0.3, 0.02, 1));
	}
	
	.title {
		font-size: 14px;
	}
	.hierarchy {
		font-size: 10px;
	}
}

.quick-edit {
	width: 0;
	overflow: hidden;
	
	@include transition(width 0.5s cubic-bezier(0.3, 0.3, 0.02, 1));
	
	a {
		display: inline-block;
		width: $task-height;
		height: $task-height;
		text-decoration: none;
		font-size: 24px;
		line-height: $task-height;
		text-align: center;
	}
}

.visibility {
	float: right;
	
	.fa-caret-down {
		display: block;
	}
	.fa-caret-left {
		display: none;
	}
}

/* Quick edit peek */
.quick-edit:hover,
.task .tag:hover + .quick-edit {
	width: $task-height * 3;
}

/* Collapse caret displays */
.tasklists-container input:checked {
	+ label .visibility .fa-caret-down {
		display: none;
	}
	+ label .visibility .fa-caret-left {
		display: block;
	}
}

/* Timescope collapse */
.timescope-container > input:checked {
	~ .task {
		height: 0;
	}
}

/* Tag collapse */
.tasklist-container > input:checked {
	~ .tasklist .task,
	~ .tasklist .timescope {
		height: 0;
	}
}