/*************************************** large/template */
@media (min-width: $width-large) {
	/***************************** Windows ***/
	.window {
		position: fixed;
		top: $global-menu-tab-height + $global-menu-top-padding;
		left: 0;
		width: 100%;
		height: 100vh;
		overflow: auto;
		opacity: 0;
		visibility: hidden;
		@include transition(visibility 0s linear $hover-window-transition-time,
				opacity $hover-window-transition-time ease-in-out);
		
		&.open {
			opacity: 1;
			visibility: visible;
			@include transition(visibility 0s linear,
				opacity $hover-window-transition-time ease-in-out);
		}
	}
	
	/***************************** Menus ***/
	#global-menu-bar {
		border-bottom: 1px solid;
		
		div {
			vertical-align: bottom;
		}
	}
	#global-logo {
		float: left;
		
		a {
			line-height: $global-menu-tab-height + $global-menu-top-padding - 1;
			height: $global-menu-tab-height + $global-menu-top-padding - 1;
			text-decoration: none;
			display: inline-block;
			padding-left: 15px;
			font-size: 26px;
		}
	}
	#global-menu {
		float: right;
		
		ul {
			padding-top: $global-menu-top-padding - 1;
			text-align: right;
			border-right: 1px solid;
		}
		
		li {
			height: $global-menu-tab-height;
			line-height: $global-menu-tab-height;
			padding: 0 20px;
			border-left: 1px solid;
		}
	}

	.menu {
		ul {
			list-style: none;
			cursor: pointer;
		}
		
		li {
			display: inline-block;
			@include transition(box-shadow 0.1s ease-in-out);
		}
		
		.active {
		}
	}
	
	/********************************* Sidebars ***/
	#global-sidebar {
	}
	
	.sidebar {
		position: fixed;
		top: 0;
		height: 100vh;
		left: -$width-small;
		width: $width-small;
		max-width: $width-small;
		
		@include transition(left 0.2s ease-in-out);
		
		&.open {
			left: 0;
		}
	}
}