/*************************************** large/template */
/***************************** Windows ***/
.window-container > div {
	height: 100%;
	width: 100%;
	opacity: 0;
	display: none;
	
	@include transition(opacity $hover-window-transition-time ease-in-out);
	
	&.open {
		opacity: 1;
	}
}

/***************************** tabs ***/
#global-menu-bar {
	border-bottom: 1px solid;
	
	div {
		vertical-align: bottom;
	}
}
#global-logo {
	float: left;
	
	> h2,
	> a,
	> div {
		display: inline-block;
		vertical-align: bottom;
	}
	.bar-link {
		line-height: $global-menu-tab-height + $global-menu-top-padding - 1;
		height: $global-menu-tab-height + $global-menu-top-padding - 1;
		text-decoration: none;
		margin-left: 15px;
	}
}
#global-tabs {
	float: right;
	
	ul {
		padding-top: $global-menu-top-padding - 1;
		text-align: right;
		border-right: 1px solid;
	}
	
	li {
		height: $global-menu-tab-height;
		line-height: $global-menu-tab-height;
		padding: 0 20px;
		border-left: 1px solid;
	}
}

.tabs {
	ul {
		list-style: none;
		cursor: pointer;
	}
	
	li {
		display: inline-block;
		@include transition(box-shadow 0.1s ease-in-out);
	}
}

/********************************* Sidebars ***/
#sidebar-global-wrapper:hover .sidebar {
	left: 0;
}
.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: -$width-small;
	width: $width-small;
	max-width: $width-small;
	
	@include transition(left 0.5s cubic-bezier(0.3, 0.3, 0.02, 1));

	
	.titles {
		padding: 30px 0 40px 0;
		text-align: center;
	}
	
	ul, li, a {
		width: 100%;
	}
	ul {
		list-style: none;
	}
	a {
		width: 100%;
		text-align: right;
		font-size: 18px;
		text-decoration: none;
		padding: 10px 20px;
		display: block;
	}
}
