/*************************************** template */
$hover-window-transition-time: 0.2s;

* {
	box-sizing: border-box;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

html, body {
	padding: 0;
	margin: 0;
}

.clearfix {
	clear: both;
}

@import 'small/template';
@import 'medium/template';
@import 'large/template';