
* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	min-width: 400px;
	min-height: 800px;
	height: 100%;
}

$collapse-height: 2px;
$collapse-sidebar: 1000px;
$collapse-content: 1600px;

/********** Menu collapsed / Content collapse**********/
$nav-menu-collapsed-height: 8%;
$nav-menu-collapsed-maxwidth: 650px;
#nav-menu {
	height: $nav-menu-collapsed-height;
	width: 100%;
	max-width: $nav-menu-collapsed-maxwidth;
	margin: 0 auto;
	border-right: 1px solid;
	border-left: 1px solid;
	border-color: #000;
}
#content {
	height: 100% - $nav-menu-collapsed-height;
	> div {
		height: 50%;
		border: 1px solid;
		border-top: none;
		max-width: $nav-menu-collapsed-maxwidth;
		margin: 0 auto;
		vertical-align: top;
	}
}
.task-entry:nth-child(1) {
	border-top: 1px solid;
}
.task-entry {
	border-bottom: 1px solid;
	height: 50px;
}

/********* Menu Expanded / Content collapse *************/
$nav-menu-expanded-width: 400px;
$nav-menu-expanded-maxwidth: 800px;
@media (min-width: $collapse-sidebar) {
	#nav-menu {
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		max-width: none;
		margin: 0;
		width: $nav-menu-expanded-width;
		height: 100vh;
	}
	#content {
		position: fixed;
		top: 0;
		bottom: 9;
		left: $nav-menu-expanded-width;
		right: 0;
		height: 100%;
		font-size: 0;
		> div {
			width: 100%;
			max-width: $nav-menu-expanded-maxwidth;
			font-size: 16px;
			border-right: 1px solid #000;
		}
	}
}

/********* Menu Expanded / Content expanded *************/
@media (min-width: $collapse-content) {
	#content {
		> div {
			display: inline-block;
			width: 50%;
			max-width: none;
			height: 100%;
			margin: 0;
		}
	}
}


.hidden {
	display: none !important;
}

