/*************************************** Template.scss */
* {
	box-sizing: border-box;
	font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
}

html, body {
	padding: 0;
	margin: 0;
}

$hover-window-transition-time: 0.2s;
.window {
	position: fixed;
	top: $global-menu-tab-height + $global-menu-top-padding;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: #EEE;
	overflow: auto;
	opacity: 0;
	visibility: hidden;
	@include transition(visibility 0s linear $hover-window-transition-time,
			opacity $hover-window-transition-time ease-in-out);
	
	&.open {
		opacity: 1;
		visibility: visible;
		@include transition(visibility 0s linear,
			opacity $hover-window-transition-time ease-in-out);
	}
}