/*************************************** template */
// *** For globaly applicable rules

* {
	box-sizing: border-box;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

html, body {
	padding: 0;
	margin: 0 auto;
	font-size: 16px;
	height: 100vh;
	max-height: 100vh;
	min-height: 100vh;
	box-shadow: 0 0 10px 2px #999;
	
	max-width: $width-max;
}

@media (min-width: $width-max) {
	body {
		border: 1px solid;
		border-top: none;
		border-bottom: none;
	}
}

// *** Precise control of spacing
ul, ol, h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}

// *** Everybody hates this
a {
	text-decoration: none;
}

// *** Vertically centers stuff
.middler,
.middle {
	display: inline-block !important;
	vertical-align: middle;
}
.middler {
	height: 100%;
}

// *** "Debug"
.hidden {
	display: none;
}
.clear {
	clear: both;
}

// *** Mixins
@mixin transition($params...) {
	-webkit-transition: $params;
	-moz-transition: $params;
	transition: $params; 
}
@mixin default-transition($property) {
	@include transition($property $default-transition-time $default-transition-pattern);
}

@mixin transform($params...) {
	-webkit-transform: $params;
	-moz-transform: $params;
	-ms-transform: $params;
	transform: $params;
}

// *** Extendables
.noselect {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;  
}
.ellipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.transition-width {
	@include default-transition(width);
}
.transition-height {
	@include default-transition(height);
}
.transition-margin {
	@include default-transition(margin);
}