// This file holds all global stak variables that may be used within multiple files.

// Animation constants
$animation-style: cubic-bezier(0.07,0.62,0.01,1);
$animation-length: 0.5s;


// Threshold (when to switch between mobile/tablet/desktop views)
$media-desktop-max: 1920px;
$media-desktop-min: 1100px;


// Nav
$nav-desktop-peek-height: 60px;
