@charset "UTF-8";
 
@mixin transition($params...) {
	-webkit-transition: $params;
	-moz-transition: $params;
	transition: $params; 
}

$sidebar-z-index: 1000;
$split-screen-option-z-index: 900;

$global-menu-top-padding: 15px;
$global-menu-tab-height: 30px;

$split-screen-option-height: 35px;
$split-screen-option-extended-height: 450px;

$width-clearance: 18px;
$width-small: 360px;
$width-medium: 768px;
$width-large: 1440px;

ul, ol, h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}

@import 'fa-extention';
@import 'template';

/****** Livin' Large */
@media (min-width: $width-large - $width-clearance) {
	/* Template items */
	@import 'large/tabs';
	@import 'large/sidebar';
	@import 'large/split-screen';
	@import 'large/tasklist';
	@import 'large/page-list';
	
	/* Customization */
	@import 'large/global-header';
}
